<section class="flex flex-col">
    <img class="w-full" src="/img/banner2.png" alt="banner1" />

    <div class="flex flex-col items-center justify-center px-4 py-6">
        <h1 class="text-3xl mt-8 mb-2 text-center sm:text-4xl">Burguer do Chefão</h1>
        <p class="text-gray-500 text-2xl italic text-center sm:text-3xl">Artenais, suculentos e feito com respeito!</p>
        <span class="inline-block bg-red-500 text-white text-xl sm:text-2xl mt-2 px-3 py-1 rounded-full text-center">
            Atendimento: Seg a Dom - 18:00 às 22:00
        </span>
    </div>
</section>
