<section>
  <div class="flex justify-center items-center mt-5 text-2xl font-bold">
    <h2>Conheça nosso menu</h2>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 p-4">
    <div
      class="bg-amber-200 p-4 flex flex-col sm:flex-row items-center rounded-xl"
      *ngFor="let produtos of listaProdutos"
    >
      <div>
        <img
          class="w-[200px] h-[200px] object-cover rounded-3xl"
          [src]="produtos.Imagem"
          alt="Imagem do produto"
        />
      </div>
      <div class="sm:ml-4 mt-4 sm:mt-0 text-center sm:text-left">
        <h3 class="text-2xl font-semibold">{{ produtos.Nome }}</h3>
        <p class="text-gray-700">{{ produtos.Descricao }}</p>
        <p>R$ {{ produtos.Valor }},00</p>
      </div>
    </div>
  </div>
</section>
